.git
node_modules
web/node_modules
webdist/dist/index.html
webdist/dist/assets
webdist/dist/sw.js
/server
/scrabble-server
data/nwl2023.txt
data/nwl2023.txt.gz
data/enable.txt.gz
infra/.terraform
infra/terraform.tfstate*
