node_modules/
web/node_modules/
webdist/dist/index.html
webdist/dist/assets/
webdist/dist/sw.js
data/enable.txt
data/enable.txt.gz
data/nwl2023.txt
data/nwl2023.txt.gz
/scrabble-server
/server
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
